@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

a{
    text-decoration: none;
}

.jumbo{
    background-image: url(img/jumbo.png);
    height: 70vh;
    background-size: cover;
    position: relative;
}

.center-bloc{
    width: 70%;
    margin: 0px auto;
    padding-top: 20px;
}

.logo{
    float: left;
}

#main-nav{
    float: left;
    width: 80%;
    text-align: center;
}

#main-nav li{
    display: inline-block;
    margin: 0 20px;
}

#main-nav a{
    color: white;
}

#accedi{
    float: right;
}

.btn{
    border-radius: 20px;
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
}

.stile1{
    background-color: white;
}

.stile2{
    background-color: black;
}

.stile3{
    background-color: cornflowerblue;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    text-align: center;
}

.fas{
    margin-right: 5px;
}

.title{
    font-size: 70px;
    line-height: 70px;
}

.text-title{
    font-size: 25px;
    margin-top: 30px;
}

.text-white{
    color: white;
}

.container .btn{
    margin-top: 20px;
}

.download{
    position: absolute;
    bottom: 100px;
    margin: 0 20%;
}

.download .btn{
    margin: 20px;
}

.block{
    height: 70vh;
    padding-top: 10vh;
}

.testo, .image{
    width: 50%;
    float: left;
}

.testo{
    width: 40%;
    margin: 40px 40px 0;
}

.sfondo{
    background-color: whitesmoke;
}

.image-big img{
    width: 100%;
}

.text-center{
    text-align: center;
}

.title3{
    font-size: 40px;
}

.star{
    background-image: url(img/stars.svg);
    background-position: center;
    background-size: auto;
}

.block2{
    padding: 10vh 0 20vh;
    position: relative;
}

.download2{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

.colonna{
    background-color: rgb(29, 32, 32);
    width: 100%;  
}

.text-blu{
    color: cornflowerblue;
}

ul{
    list-style: none;
}
